In [3]:
if 3>2:
    print('Its True')

Its True

In [5]:
hungry = False

if hungry:
    print('Its True')
else:
    print('Else block')

Else block

In [10]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are Cool!')
elif loc =='Bank':
    print('Money is cool!')
else:
    print('I dont know much')

Money is cool!

## For Loops

In [18]:
my_list =[3,5,6,'a','b','c']

for n in my_list:
    print (n)

3
5
6
a
b
c

In [24]:
my_list =[3,5,6,49, 51, 53,20,55, 57, 59,88,34]
list_sum=0

for n in my_list:
    list_sum= list_sum+n
    if n%2 == 0:
        print(f'Even Number: {n}')
    else:
        print(f'Odd Number: {n}')
print(f'Total Sum of the List:  {list_sum}')

Odd Number: 3
Odd Number: 5
Even Number: 6
Odd Number: 49
Odd Number: 51
Odd Number: 53
Even Number: 20
Odd Number: 55
Odd Number: 57
Odd Number: 59
Even Number: 88
Even Number: 34
Total Sum of the List:  480

In [25]:
mystring ='Hello World'

for n in mystring:
    print(f'the strings are: {n}')

the strings are: H
the strings are: e
the strings are: l
the strings are: l
the strings are: o
the strings are:
the strings are: W
the strings are: o
the strings are: r
the strings are: l
the strings are: d

In [26]:
#mystring ='Hello World'

for n in 'Hello World':
    print(f'the strings are: {n}')

the strings are: H
the strings are: e
the strings are: l
the strings are: l
the strings are: o
the strings are:
the strings are: W
the strings are: o
the strings are: r
the strings are: l
the strings are: d

In [38]:
tup = (4,4,4,4,5,6,7,8,3)

for n in tup:
    print(n)

4
4
4
4
5
6
7
8
3

In [40]:
tup = set((3,4,4,4,4,5,6,7,8))

for n in tup:
    print(n)

3
4
5
6
7
8

In [51]:
mylist =[(1,2),(2,3),(5,6),(7,8)]
                                 
len(mylist)

for n in mylist:
    print(n)

(1, 2)
(2, 3)
(5, 6)
(7, 8)

### Tuple Unpacking

In [52]:
for a,b in mylist:
    print(a)
    print(b)

1
2
2
3
5
6
7
8

##### Iteration through Dictionary

In [58]:
dict = {'k1':1,'k2':2,'k3':3}
print(dict)
for n in dict:
    print(f'{n}:{dict[n]}')
    #print(dict[n])

{'k1': 1, 'k2': 2, 'k3': 3}
k1:1
k2:2
k3:3

In [59]:
for n in dict.items():
    print(n)

('k1', 1)
('k2', 2)
('k3', 3)

In [62]:
for n in dict.values():
    print(n)

1
2
3

In [61]:
for key,values in dict.items():
    print(key)
    print(values)

k1
1
k2
2
k3
3