In [5]:
my_list = ['one',2,5.67,'test1','cat','test2','test3']

In [6]:
my_list

['one', 2, 5.67, 'test1', 'cat', 'test2', 'test3']

In [7]:
my_list[2:] #Slicing of List..starting from 2 to last

[5.67, 'test1', 'cat', 'test2', 'test3']

In [9]:
my_list[2:5]

[5.67, 'test1', 'cat']

In [10]:
another_list = ['test6','test7']

In [12]:
result_lt = another_list+my_list

In [14]:
result_lt

['test6', 'test7', 'one', 2, 5.67, 'test1', 'cat', 'test2', 'test3']

In [15]:
result_lt[6]

'cat'

In [16]:
result_lt[6] ='Fax' #List is mutable

In [17]:
result_lt

['test6', 'test7', 'one', 2, 5.67, 'test1', 'Fax', 'test2', 'test3']

In [18]:
result_lt.append('newElement')

In [19]:
result_lt

['test6',
 'test7',
 'one',
 2,
 5.67,
 'test1',
 'Fax',
 'test2',
 'test3',
 'newElement']

In [21]:
result_lt.pop(5) # it removed the 5th Index elemnt

'test1'

In [22]:
result_lt

['test6', 'test7', 'one', 2, 5.67, 'Fax', 'test2', 'test3', 'newElement']

In [23]:
result_lt.pop() # My default last emenent is removed
result_lt

['test6', 'test7', 'one', 2, 5.67, 'Fax', 'test2', 'test3']

In [25]:
num_list =[2,1,6,3,5,4]
new_list =['e','b','a','d','c']

In [39]:
result = num_list.sort() # it does not return any values , it stores the storted list in the actual list itself
num_list

[1, 2, 3, 4, 5, 6]

In [38]:
result = num_list.sort() # it does not return any values , it stores the storted list in the actual list itself
num_list
type (result)

NoneType

In [35]:
new_list =['e','b','a','d','c']
new_list.sort() # it does not return any values , it stores the storted list in the actual list itself
new_list

['a', 'b', 'c', 'd', 'e']

In [42]:
num_list.reverse()
num_list

[6, 5, 4, 3, 2, 1]

In [43]:
new_list

['a', 'b', 'c', 'd', 'e']

In [60]:
new_list.reverse()
new_list

['e', 'd', 'c', 'b', 'a']

In [61]:
new_list

['e', 'd', 'c', 'b', 'a']

In [62]:
new_list.reverse()
print(new_list)

['a', 'b', 'c', 'd', 'e']

In [2]:
# Import required modules 
from pyspark.sql import SparkSession 

# Create a SparkSession 
spark = SparkSession.builder.appName("hash_partitioning").getOrCreate() 

# Create a sample DataFrame 
df = spark.createDataFrame([ 
	(1, "Alice", 25), 
	(2, "Bob", 30), 
	(3, "Charlie", 35), 
	(4, "Dave", 40), 
	(5, "Eve", 45), 
	(6, "Frank", 50) 
], ["id", "name", "age"]) 

# Print the DataFrame 
df.show() 
# Perform hash partitioning on the 
# DataFrame based on the "id" column 
df = df.repartition(4, "id") 

# Print the elements in each partition 
print(df.rdd.glom().collect())

ModuleNotFoundError: No module named 'pyspark'